// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	margin:0 auto;
	padding:60px;
}

h1 a {font-weight:bold; font-size:30pt;}

.index {
	color:#f1b601; 
	font-size:12pt; 
	text-transform:uppercase; 
	font-weight:400;
	padding-top:20px;
}

h3 {font-weight:300; font-size:16pt;}

a {	
	text-decoration:none;
	font-weight:300;
	color:black;
	text-transform:uppercase;
}

a:hover {
	color:#f1b601;
}

header {
	text-align:center;	
	border-bottom:solid 1px #ccc;
	padding-bottom:20px;
	margin-bottom:60px;
}

.movieImg img{
	height:300px;
	width:auto;
}

ul, li {
	list-style-type:none;	
	margin-left:0px;
	padding-left:0px;
}

ul {
	height:100%; 
	overflow: auto; 
	width:100%;
	margin-top:40px;

	}

li {
	float:left;	
	width:230px;
	margin-bottom:20px;
}

li a {
	font-size:14pt; 
	text-transform:none;
	font-weight:300;
}

li a:hover {opacity:0.7;}

header a {text-transform:none;}

.show img {
	float:left;
	padding-right:20px;
}

.show {
	margin-top:30px; 
	height:100%; 
	overflow:auto;
}

.show .movieImg img{
	float:left;
	padding-right:20px
}

.flatButton {
  margin-top:20px;
  position: relative;
  vertical-align: top;
  width:150px;
  height: 30px;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f1b601; 
  border: 0;
  border-bottom: 2px solid #d5a102;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #d5a102;
  box-shadow: inset 0 -2px #d5a102;
}

.flatButton:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}