// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	margin:0 auto;
	padding:60px;
}

h1 a {font-weight:bold; font-size:30pt;}

h3 {font-weight:300; font-size:16pt;}

a {	
	text-decoration:none;
	font-weight:300;
	color:black;
	text-transform:uppercase;
}

a:hover {
	color:blue;
}

header {
	text-align:center;	
	border-bottom:solid 1px #ccc;
	padding-bottom:20px;
	margin-bottom:60px;
}

.movieImg img{
	height:300px;
	width:auto;
}

ul, li {
	list-style-type:none;	
	margin-left:0px;
	padding-left:0px;
}

ul {
	height:100%; 
	overflow: auto; 
	width:100%;
	margin-top:40px;

	}

li {
	float:left;	
	width:230px;
}

li a {
	font-size:16pt; 
	text-transform:none;
}

header a {text-transform:none;}

show img {
	float:left;
	padding-right:20px;
}

.show {
	margin-top:30px; 
	height:100%; 
	overflow:auto;
}

.show .movieImg img{
	float:left;
	padding-right:20px
}